<div style="height: 5vh"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 no_padding">
      <div id="food_item_box" class="row">
        <div class="col-md-5 no_padding">
          <img class="food_item_image" src="<%= @food_item.image_url %>" alt="<%= @food_item.name %>"/>
        </div>
        <div class="col-md-7 no_padding">
          <table id="food_item_info" style="width: auto; padding: 20px">
            <tbody>
            <tr>
              <td><h3><%= @food_item.name %></h3></td>
              <td><h3><%= format_with_thousand_separator(@food_item.price) %></h3></td>
            </tr>
            <tr>
              <td><%= @food_item.description %></td>
            </tr>
            </tbody>
          </table>
          <div>
            <h2>PLACE AN ORDER</h2>
            <%= form_tag '/orders/place_order', method: 'post' do %>
              <%= hidden_field_tag :food_item_id, @food_item.id %>
              <%= text_field_tag :user_name, nil, placeholder: 'Full Name', class: 'food_item_order_field' %>
              <%= text_field_tag :user_phone_number, nil, placeholder: 'Phone Number', class: 'food_item_order_field' %>
              <%= text_field_tag :user_address, nil, placeholder: 'Address', class: 'food_item_order_field' %>
              <%= submit_tag 'Order', class: 'btn btn-secondary' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>